<div class="center">
  <div class="text"><h1>Never forgot an item to buy</h1></div>
  <div class="align-left">
    <button class="btn-hover color-1" routerLink="/adder">Start Adding Now!</button>
  </div>

  <!-- <div>
    <div class="header-aboveText"><h3>Hi! Myself,</h3></div>
    <div class="header-title"><h1>Bhargav Guggilapu</h1></div>
    <div class="header-belowText">
      <h3>I'm a front-end web developer</h3>
    </div>
    <button class="logo-button">Hire me</button>
  </div> -->
</div>
